
<div class="page page-order" ng-controller="configCtrl">
	
    <div class="panel panel-default">
        <div class="panel-heading">
        	<strong><span class="glyphicon glyphicon-th"> </span> Nuovo portale</strong>
        	
        </div>
        <div class="panel-body">
        	<div class="form-group">
        		<label>Nome</label><input type="name" class="form-control"/>
        	</div>
        	<div class="form-group">        		
        		<label>Amministratore</label><input class="form-control" type="mail amministratore"/>        		
        	</div>
        	<button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>